
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Imperial+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body{
  background-color: #8cd5ff;
}

@font-face {
  font-family: 'Amoresa';
  src: url('/fonts/Amoresa.woff2') format('woff2'),
       url('/fonts/Amoresa.woff') format('woff'),
       url('/fonts/AmoresaAged.woff2') format('woff2'),
       url('/fonts/AmoresaAged.woff') format('woff');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Buffalo';
  src: url('/fonts/Buffalo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Riwaya";
  src: url("/fonts/29lt-riwaya-regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nefelibata";
  src: url("/fonts/nefelibata-script.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lovelies";
  src: url("/fonts/TT-Lovelies-Script-Trial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



/* @keyframes focusIn {
          0% {
            filter: blur(20px);
            opacity: 0;
          }
          100% {
            filter: blur(0);
            opacity: 1;
          }
        }
        .focus-animation {
          animation: focusIn 2s ease-out forwards;
        }*/

.portada {
  background:
/*  linear-gradient(
      to top,               
      rgba(133, 9, 35, 0.7)   
      rgba(255, 0, 0, 0) 70%    
    ),*/
  url(./assets/fotoinicio.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;   /* centra el bloque horizontal */
  align-items: flex-end;     /* lleva al final vertical */
  padding-bottom: 20px;
  text-align: center;        /* centra texto dentro del bloque */
  color: white;
}

.portada .textos {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* asegura que h1 y h2 estén centrados */
  max-width: 100%;      /*90% evita que se desborde en pantallas chicas */
}


.portada h1 {
  font-family: 'Amoresa', sans-serif;
  font-weight: 300;
  font-size: 70px;
  margin: 0;
}

.dalePlay{
  font-family:'Buffalo', cursive;
  color: white;
  font-size: 2rem;
}

.portada h2 {
   font-family: 'Buffalo', cursive;
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0 0 0;
}

.music-player-card {
  width: 340px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.15); /* fondo semi-transparente */
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px; /* rectángulo con bordes ovalados */
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px); /* efecto vidrio */
  -webkit-backdrop-filter: blur(10px);
  margin: auto;
}

.song-title {
  font-weight: bold;
  color: white; /* texto blanco */
  margin-bottom: 10px;
  font-size: 16px;
}

.btn-music {
  background-color: white; /* botón blanco */
  color: rgb(123, 26, 45); /* ícono carmesí */
  border: none;
  padding: 8px 14px;
  border-radius: 50%; /* botón redondo */
  font-size: 20px;
  transition: 0.3s;
}

.btn-music:hover {
   background-color: rgb(123, 26, 45); /* O tu código de rojo vino preferido */
  color: white; /* ícono blanco */
}

.progress-bar {
  width: 100%;
  margin-top: 12px;
  accent-color: white; /* barra blanca */
}

.frase1{
   /*text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);*/
  font-family: 'Buffalo', cursive;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
.cuentaRe{
   background: url(./assets/fotocuenta.png);
  background-size: cover;
  /*background-attachment: fixed;*/
  background-position: center;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;   /* centra el bloque horizontal */
  align-items: flex-center;     /* lleva al final vertical */
  padding-bottom: 20px;
  text-align: center;        /* centra texto dentro del bloque */
  color: white;
}

.h2-cuentaRe{
  font-family: 'Amoresa', sans-serif;
  font-size: 1.9rem;
  padding-bottom: 3.5rem;
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.cuentaRe p{
  font-family: 'Amoresa', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 25px;
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.contador h3{
  font-size: 4rem;
   font-family:'Times New Roman', Times, serif !important;
   
   margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.contador small{
  font-family:'Courier New', Courier, monospace;
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.varios0{
  background: url(./assets/glitter.jpg);
}
.varios{
  background-color: #8cd5ff;
  opacity: 0.93; /* El 70% de opacidad (un poco transparente) */
  width: 90%;
  height: 90%;

}
.varios h4{
 font-family: "Riwaya", sans-serif;
 color: black;
 margin-top: 10px;
 font-size: 2.5rem;
}
.varios p{
  color: black;
 /* font-family: "Lovelies", cursive;*/
 font-family: "Imperial Script", cursive;
  font-size: 2rem;
  margin:20px 30px;
}

.btn-varios {
  /* Fondo principal: Plateado claro */
  background-color: #E8E8E8;
  /* Simula el brillo y la profundidad del metal */
  background-image: linear-gradient(to bottom, #F5F5F5, #D4D4D4); 
  
  /* Borde sutil */
  border: 1px solid #AAAAAA;
  
  /* Sombra sutil para levantar el botón */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 
  
  /* Asegura los colores de texto y contenido */
  color: #000000; /* Texto Negro */
  /* Los iconos en blanco serán definidos por su propio selector */
  /* .boton-plateado .icono { color: white; } */
  
  border-radius: 50px;
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-varios3{
 background-color: black;
 color: white;
  border-radius: 50px;
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-varios:hover {
  background: skyblue;
  color: white; /* texto vino */
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}


.qr{
  font-family: 'Cormorant Garamond', serif;
 color: white;
 margin-top: 10px;
 font-size: 1.8rem;
}
.fin h4{
 font-family: "Nefelibata", cursive;
 color: white;
 font-size: 40px;
 margin-bottom: 80px;
}
.fin h2{
  font-family: 'Amoresa', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 60px;
  margin: 0;
}

@keyframes enfoque-letra {
  0% {
    filter: blur(8px);
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}

.enfoque span {
  display: inline-block;
  opacity: 0;
  animation: enfoque-letra 0.6s ease forwards;
}

.modal-custom {
  color: #8cd5ff;             /* texto oscuro */
  font-family: 'Nunito', sans-serif;
}
.modal-custom p {
  font-family:'Nunito', sans-serif ;
  color: #8cd5ff;             /* asegura que los párrafos se vean */
  font-size: 1.5rem;
  margin: 8px 0;
}
.btn-varios2 {
  background: #8cd5ff;
  color: #fff;
  border: 2px solid rgb(168, 168, 168);
  border-radius: 50px;
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  
}

.fin{
  height: 90vh;
}



/* Estilo base del brillo */
.brillo {
  position: absolute;
  width: 120px;  /* ajusta según quieras */
  opacity: 0.8;
  animation: float 3s ease-in-out infinite;
}
.brillo1 {
  position: absolute;
  width: 50px;  /* ajusta según quieras */
  opacity: 0.8;
  animation: float 3s ease-in-out infinite;
}

/* Ubicación del brillo */
.brillo-top {
  top: -40px;
  left: -5px;
}

.brillo-bottom {
  bottom: -40px;
  right: 5px;
  animation-delay: 1.5s; /* para que no se muevan al mismo tiempo */
}
.brillo-top1 {
  top: 30px;
  left: -100px;
}

.brillo-bottom1 {
  bottom: 30px;
  right: -100px;
  animation-delay: 1.5s; /* para que no se muevan al mismo tiempo */
}

/* Animación flotante */
@keyframes float {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.05);
  }
}

.fin {
  height: 100vh;
  position: relative;
  background: url(./assets/disco.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden; /* para que el overlay no se escape */
}

.fin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* negro semitransparente */
  z-index: 0;
}

.fin h2,
.fin h4,
.fin img {
  position: relative;
  z-index: 1; /* para que queden arriba del overlay */
  color: white; /* letras blancas si querés contraste */
}


